@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v11/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}


body {
	font-family: 'Raleway', sans-serif;
}

nav {
	box-shadow: none;
}

.footer {
        color: dimgray;
        background-color: lightgray;
        height: 60px;
        padding-top: 0.5%;
        text-align: center;
}

.card-panel{
	border: none;
}

.title-panel{
	padding: 0;
	text-align: center;
}

.seve-blue{
	//background-color: #00a9d3; //blue
	//background-color: #e45d25; //orange
}

.panel-divider {
	border-left-style: solid;
	border-width: 1px; 
	border-color: #e0e0e0;
	min-height: 500px;
}

.dropzone {
	border: 2px dashed #e0e0e0;
}

.selected-text {
	font-weight: bold;
	color: #003a75;
}

.btn, .btn:link, .btn:visited {
	height: 2.5em;
	background-color: #000000;
	box-shadow: none;
	border-style: solid;
	border-width: 2px;
	border-color: #000000;
	font-weight: bold;
	transition: 0.2s;
}

.btn:hover, .btn:active {
	background-color: rgba(0,0,0,0);
	box-shadow: none;
	border-style: solid;
	border-width: 2px;
	//border-color: #00a9d3;
	border-color: #000000;
	color: #00a9d3;
	color: #000000;
	font-weight: bold;
	transition: 0.2s;
}

.btn.btn-red {
	background-color: #e04830;
	border-color: #e04830;
}

.btn.btn-red:hover {
	border-color: #e04830;
	background-color: #ffffff;
	color: #e04830;
}

.card_1:hover {
	border: white 1px solid;
	//background-color: rgba(0,0,0,0.03);
	transition: 0.2s;
	opacity: 0.8;
	
}

.card_1 {
	color: rgba(0,0,0,0.87);
	transition: 0.2s;
	margin: 0.5em;
}

.cart-item {
	border: solid 1px lightgrey;
	margin-bottom: 1em;
	padding : 1em;
}


.slider {
    //border-width: 1px;
    color: white;
    display: inline-block;
    height: auto;
//    overflow: hidden;
//    background-color: grey;
}


.slider-button {
    position: absolute;
    top: calc(50% - 1em);
    color: white !important;
    font-size: 5em;
    z-index: 5;
}

    
.slider-content {
    opacity:1;
    transition: 1s;
}
    
.slider-image {
    width: 100%;
    //position: absolute;
    image-position: center;
}

.remove{
	opacity: 0.7;
	position: absolute; 
	margin-left: -1em; 
	margin-top: -1em;
	transition: 0.3s;
}

.remove:hover{
	opacity: 1;
	transition: 0.3s;
}


.bcrumbs a {
	color: #e45d25;
}
.bcrumbs a:hover{
	opacity: 0.7;
}
