#slider {
	width: 940px;
	height: 290px;
	overflow: hidden;
	background: #fff;
	border: 10px solid #fff;
}

	#slider ul {
		/*width: 20820px;*/
		/*overflow-y: hidden;*/
	}

	#slider .hslide {
		float: left;
		width: 940px;
		height: 290px;
		/*position: relative;*/
	}

	#slider .hslide img {
		/*width: 340px;*/
	}



.button	{
	width: 50px;
	height: 310px;
	display: inline-block;
	background: url(../img/buttons.png);
	cursor: pointer;
}

	.button:hover {
		opacity: 0.5;
	}

	#back {
		margin: -310px 0 0 -60px;
		float: left;
	}

	#next {
		background-position: -50px 0;
		margin: -310px -60px 0 0px;
		right: -60px;
		float: right;
	}

#numbers {
	width: 960px;
	text-align: center;
	padding: 20px 0;
	font-size: 14px;
}

	#numbers a {
		text-decoration: none;
		color: #666;
		display: inline-block;
		/*margin: 0 10px 0 0;*/
		padding: 7px;
	}

	#numbers a.active {
		font-weight: bold;
	}

#loader {
	width: 960px;
	height: 5px;
	/*margin: 50px 0 0 0;*/
	margin: -22px 0 15px 10px;
	padding: 0;
}

	#load {
		width: 0px;
		height: 3px;
		background: rgb(255,50,150);
		display: inline-block;
	}